@import url('https://fonts.googleapis.com/css2?family=Allura&family=Josefin+Sans&display=swap');

/*body*/
body{
    margin: 0%;
    padding: 0%;
}
/*logo area and navigations*/
a {
    text-decoration: none;
}
.top_kids{
    color: yellow;
}

.top-bar{
    width: 100%;
    height: 100px;
    background: #0f4675;
    font-family: sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    
}
.right_navlist{
    width: 45%;
}

.right_navlist ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    align-items: center;
    justify-content: space-between;

}

.right_navlist ul li{
    display: inline-block;
}

.right_navlist ul li a {
    text-decoration: none;
    color: #fff;
    padding: 10px 20px;
    border: 1px solid transparent;
    transition: 0.3s ease;
}

ul li a:hover {
    background-color: #fff;
    color: black;
}

ul li.active a {
    background-color: #fff;
    color: black;

}



.heading_area a {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.heading_area a h1 {
    color: #fff;
    font-family: sans-serif;
    margin-left: 10px;
}
/*middle of the home page  */

.middle_info {
    
    text-align: center;
    margin-top: 100px;
    padding-top: 200px;
    padding-bottom: 200px;
    background: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url(../chichi/images/computer.jpg);
    background-size: cover;
    font-family: Oswald, sans-serif;
    background-position: center;

    

}



.middle_info h1 {
    color: #fff;
    font-family: lato;
    font-size: 35px;

}

.middle_info p {
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
}


/*this has all the relevant info about the company, added some grid to enhace the look*/
.company_stats{
    margin-left: 1%;
    margin-right: 1%;
    padding-top: 95px; 
    
}

.more_stats{
    text-align: justify;
}

.servive_offers{
    
    display: grid;
    grid-template-rows: 50px 50px 50px 50px 50px 50px;  
}

.light, .phone ,.hours{
    
    background-color: antiquewhite;
    color: black;
    font-family: sans-serif;
    
}
.dark ,.open ,.age{
    background: lightgray;
    color: black;
    font-family: sans-serif;
}


/* /*our team*/
/* /*our team*/
.our_team{
    background-color: beige;
    display: flex;
    justify-content: space-between;
    margin-top: 1%;
    margin-left: 1%;
    margin-right: 1%;
    margin-bottom: 1%;
    padding-top: 20%;
    padding-bottom: 20%;

    height: 200%;
    
    

    
}

.employee_section_1{
    width: 350px;

}


.employee_section_2{
    width: 350px;

}


.employee_section_3{
    width: 350px;

}
.role_1 , .role_2 , .role_3{
    display: block;
    

}

.para_1, .para_2, .para_3{
    display: block;
    
}


/*form*/ 

.details{
    margin-top: 100px;
}





/* footer */


