* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}


body {
    font-family: Oswald, sans-serif;
    background-position: center;
}

/* /*headings and logo */

.position {
    text-align: left;
    text-decoration: none;
}

/* /*navigation links */
.navlist {
    background: rgb(0, 100, 0);
    text-align: right;
}

.navlist ul {
    display: inline-flex;
    margin-top: 25px;
    list-style: none;
    color: #fff;
}

.navlist ul li {
    display: inline-block;
}

.navlist ul li a {
    text-decoration: none;
    color: #fff;
    padding: 5px 20px;
    border: 1px solid transparent;
    transition: 0.6s ease;

}

ul li a:hover {
    background-color: #fff;
    color: black;
}

ul li.active a {
    background-color: #fff;
    color: black;

}

/*i images */

.photo{height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-image: linear-gradient(rgb);
    background:url('../chichi/images/') no-repeat center center;

}

.info{
    text-align: center;
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.info h1{color: green;
    font-family: lato;
    font-size: 60px;

}

.info p{
    color: blue;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    margin: 30px 0px;
}

button{
    width: 200px;
    padding: 15px 0px; 
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid purple;
    background: transparent;
    color: black;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

span{
    background: green;
    height: 100%;
    width: 0;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;

}
button:hover span{
    width: 100%;
    

}
button:hover{
    border: none;
}
.meet-our-team{
    width: 100%;
    padding: 72px 0px 72px 0px;
    float: left;
    clear: both;
    display: block;

}
.meet-our-team  .heading h2{
    font-size: 35px;
    line-height: 35px;
    margin-bottom: 20px;
    letter-spacing: 0.5px;
    text-align: center;
    color: #272727;

}

.meet-our-team .heading p{
    width: 60%;
    margin: 0 auto;
    text-align: center;
    line-height: 25px;
    color: 727272;
    font-size: 14px;
}

.meet-our-team .col-md-3{
    width: 24%;
    float: left;
    margin-top: 100px;
}

.meet-our-team .col-md-3 figure{
    padding-bottom: 90px;
    position: relative;
    z-index: 1;
    overflow: hidden;
    text-align: center;
    margin-bottom: 20px;
    display: block;
    
}


