@import url('https://fonts.googleapis.com/css2?family=Allura&family=Josefin+Sans&display=swap');

/*body*/
* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

/*heading area*/
a{
text-decoration: none;
}
.container {
    width: 100%;
    height: 100vh;
    background:linear-gradient(rgba(0,0,0,.5),rgba(0,0,0,.5)),url(../chichi/images/computer.jpg);
    background-size: cover;
    font-family: Oswald, sans-serif;
    background-position: center;
}

.top{
    width: 100%;
    height: 100px;
    background: #0f4675;;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 150px;
    
}
.heading_area{
    width: 35%;
}
.heading_area a{
    display: flex;
    align-items: center;
    justify-content: space-between;}

.heading_area a h1 {
    color: #fff;
    font-family: cursive;
    margin-left: 10px;
}



.info{
    text-align: center;
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.info h1{color: #fff;
    font-family: lato;
    font-size: 35px;

}

.info p{
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    margin: 30px 0px;
}

button{

    width: 200px;
    padding: 15px 0px; 
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid #0f4675;;
    background: transparent;
    color: #fff;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    font-family: lato;
}

span{
    background: #0f4675;;
    height: 100%;
    width: 0;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.3s;

}
button:hover span{
    width: 100%;
    

}
button:hover{
    border: none;
}




/* /*navigation links */
.navlist {
    width: 35%;
}

.navlist ul {
    display: flex;
    list-style: none;
    color: #fff;
    align-items: center;
    justify-content: space-between;
}

.navlist ul li {
    display: inline-block;
}

.navlist ul li a {
    text-decoration: none;
    color: #fff;
    padding: 5px 20px;
    border: 1px solid transparent;
    transition: 0.3s ease;
    font-family: cursive;


}

ul li a:hover {
    background-color: #fff;
    color: black;
}

ul li.active a {
    background-color: #fff;
    color: black;

}

/*about us or services */
.profile{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(#0f4675,#0f4675 50%,#fff 50%,#fff 100%);
    
    
}

.services{
    width: 1110px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}
.header h1{
font-family: lato;
font-size: 52px;
text-align: center;
position: absolute;
color: #fff;
}

.services .all-services{
    
    position: relative;
    width: 320px;
    background: #fff;
    padding: 100px 40px 60px;
    box-shadow: 0 15px 45px rgba(0,0,0,.1);

}



.services .all-services:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(4,121,0,0.8);
    transform: scaleY(0);
    transform-origin: top;
    transition: 0.5s;
}

.services .all-services:hover::before{
    transform: scaleY(1);
    transform-origin: bottom;
    transition: 0.5s;

}

.services .all-services h3{
    position: relative;
    font-size: 1.5em;
    z-index: 2;
    transition: 0.5s;
    color: #333;
    

}

.services .all-services:hover h3,
.services .all-services:hover p{
    opacity: 1;
    color: #fff;
    transform: translateY(-40px);

}
.services .all-services p{
    position: relative;
    z-index: 2;
    color: #555;
    transition: 0.5ss;

}





/* /*our team*/
.team{background: green;
    font-family: sans-serif;

}

.team_color{
    background: #0f4675;
}
.wrapper{
    margin-top: 5%;
    color: #fff;
}
.wrapper h1{
    font-family: lato;
    font-size: 52px;
    margin-bottom: 60px;
    text-align: center;

}
.team{
    display: flex;
    text-align: center;
    width: auto;
    justify-content: center;
    flex-wrap: wrap;
}
.team .team_member{
    background: #fff;
    margin: 5px;
    margin-bottom: 50px;
    width: 300px;
    padding: 20px;
    line-height: 20px;
    color: gray;
    position: relative;

}

.team .team_member h3{
    color: lightgreen;
    font-size: 26px;
    margin-top: 50px;
}

.team .team_member p.role{
    color: #ccc;
    font-size: 12px;
    text-transform: uppercase;
    margin: 12px 0;

}

.team .team_member .team_img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: 50%;
    transform: translateX(-50%);
    background: lightgrey;
    box-sizing: url(../chichi/images/attempt1.png);

}

.team .team_member .team_img img{
    width: 100px;
    height: 100px;
    padding: 2px;
}
/* /*our facilities */

.facility{
    background-color:darkgrey;
    margin-bottom: 2%;
    margin-top: 2%;


}
.up {
    color: #fff;
}
#psentenc {
    color: #fff;
}
.facility .content-box .row .pic{
    position: relative;
    overflow: hidden;
    height: 40rem;
}
.facility .content-box .row .pic img{
    width: 80%;
    height: 80%;
    object-fit: cover;

}
.facility .content-box{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(30rem, 1fr));
    gap: 5rem;


}

.facility .content-box .row .pic .overlay{
    width: 100%;
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 10;
    background-color: rgba(0,0,0,.7);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transform: translateY(-40rem)


}
.facility h2{
    font-size: 52px;
    font-family: lato;
    text-align: center;
}
.facility p{
    text-align: center;
    font-size: 30px;
    color:black;
}
.facility .content-box .row .pic  .overlay h3{
    font-size: 2rem;
    color: #fff;
    margin-bottom: 1rem;
}    

.facility .content-box .row .overlay span{
    font-size: 1.5rem;
    color: var(--gray);


}

.facility .content-box .row:hover .pic .overlay{
    transform: translateY(0)
}
/*form*/

.hero{

    width: 100%;
    height: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(../chichi/images/istockphoto-544351338-612x612.jpg);
   background-position: center;
    background-size: cover;
    font-family: Oswald, sans-serif;
    position: absolute;

}
.form-box{
    width: 380px;
    height: 480px;
    position: relative;
    margin: 6% auto;
    background: #fff;
    padding: 5px;
    overflow: hidden;


}
.button-box{
    width: 220px;
    margin: 35px auto;
    position: relative;
    box-shadow: 0 0 20px 9px #ff61241f;
    border-radius: 30px;

}

.toggle-btn{
    padding: 10px 30px;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none;
    position: relative;
  

}
#btn{top: 0;
    left: 0;
    position: absolute;
    width: 110px;
    height: 100%;
    background: linear-gradient(to right, #ff105f, #ffad06);
    border-radius: 30px;
    transition: .5s;

}



.social-icons{
    margin: 30px auto;
    text-align: center;

}
.social-icons img{
   
    width: 30px;
    margin: 0 12px;
    box-shadow: 0 0 20px 0 #7f7f7f3d;
    cursor: pointer;
    border-radius: 50%;


}

.input-group{
    top: 180px;
    position: absolute;
    width: 280px;
    transition: .5s;


}

.input-field{
    width: 100%;
    padding: 10px 0;
    margin: 5px 0;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid #999;
    outline: none;
    background: transparent;
}

.submit-btn{
    width: 85%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin: auto;
    background: linear-gradient(to right, #ff105f, #ffad06);
    border: 0;
    outline: none;
    border-radius: 30px;


}

.check-box{
    margin: 30px 10px 30px 0;
}
span{
    color: #777;
    font-size: 12px;
    bottom: 68px;
    position: absolute;
}

#login{
    left: 50px;

}
.register{
    left: 50px;


}


/* footer */

.footer{
    padding: 40px 0;
    background: gray;

}

.footer ul{
    margin-top: 0;
    padding: 0;
    list-style: none;
    line-height: 1.6;
    margin-bottom: 0;


}

.footer ul li a{
    color: inherit;
    text-decoration: none;
    opacity: 0.8;

}

.footer ul li{
    display: inline-block;
    padding: 0 15px;
}

.footer ul li a:hover{
    opacity: 1;
}

.footer .copyright  {
    margin-top: 15px;
    text-align: center;
    font-size: 13px;
    color: #aaa;

}




